name: Test

on:
  push:
    branches:
      - main
      - develop
      - feature/*

jobs:
  linting:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 16.x
      - name: Setup repo
        run: npm i
      - name: Linting
        run: npm run lint
      - name: Types
        run: npm run lint:types
      - name: Dependencies
        run: npm run lint:dependencies
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 16.x
      - name: Setup repo
        run: npm i
      - name: Build all files to check types
        run: npm run build:dev
      - name: Generate bundle stats
        run: npm run build:stats
      - name: Upload packaged files
        uses: actions/upload-artifact@v2
        with:
          name: Bundle statistics
          path: |
            core/editor/stats.html
            core/client/stats.html
